html {
    box-sizing: border-box;
    background: rgb(216,227,31);
background: linear-gradient(90deg, rgba(216,227,31,1) 0%, rgba(145,21,55,1) 41%, rgba(0,116,255,1) 100%);
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  input {
    width: 100%;
    padding: 20px;
  }
  
  .search-form {
    max-width: 400px;
    margin: 50px auto;
  }
  
  input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid #F7F7F7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }
  
  .suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /*perspective: 20px;*/
  }
  
  .suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    
    
  }
  
 
  
  span.population {
    font-size: 15px;
    float: right;
    margin:3px;
  }
  
  .hl {
    background: #ffc600;
  }
  .goo{
    
    transition: all 0.3s ease;
    font-size:14px ;
    
  }
  .hiden{
    display:none;
  }
  .hiden2{
    display:none;
  }
  .pop{
    font-size:15px ;
    float: right;
    margin: 3px;
  }
  .pop2{
    color:rgb(51, 49, 49);
    font-size:14px ;
  }
  .hi{
    color: brown;
  }
  